body {
    font-family: Gotham, Helvetica;
    margin: 0;
    padding: 0;
}
#map {
    width: 500px;
    height: 95%;
    position: fixed;
    border: 0px solid orange;
    margin: 2.5%;
    box-sizing: border-box;
}
#map h1 {
    text-align: center;
    font-size: 20px;
    padding: 0 20px;
}
#map svg {
    position: absolute;
    top: 75px;
    left: 50px;
}
#annotation {
    position: absolute;
    bottom: 0;
    padding: 10px;
    z-index: 1;
    background: rgba(255,255,255,.5);
}
#annotation .title {
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 5px;
}
#annotation .desc {
    font-size: 12px;
    margin-top: 15px;
}
#map #hovered-name ,
#map #selected-name {
    position: absolute;
    left: 10px;
    width: 300px;
}
#map #selected-name {
    color: #45A3FF;
    top: 500px;
}
#map #hovered-name {
    color: #33B333;
    top: 550px;
}
#map #hovered-name .place,
#map #selected-name .place {
    float: left;
}
#map #hovered-name .value,
#map #selected-name .value {
    font-weight: bold;
}
#map h2 {
    font-size: 18px;
    font-weight: normal;
}
#map .place-name {
    visibility: hidden;
    white-space: nowrap;
}
#map path {
    /*stroke: black;*/
    stroke-width: 5;
    cursor: pointer;
}
.tooltip {
    position: absolute;
    z-index: 1;
    display: none;
}
#map .tooltip {
    background: yellow;
    padding: 5px;
    border: 2px solid black;
    max-width: 150px;
    text-align: center;
}
#graphs .tooltip {
    position: fixed;
    background: black;
    color: white;
    padding: 3px;
  
}
#graphs {
    width: 55%;
    float: right;
    margin-right: 5%;
    position: relative;
    margin-top: 36px;
    margin-bottom: 48px;
}
#graphs .graph {
    background-color: #DBF2EC;
    padding: 3px 5px;
}
#graphs .graph:nth-child(odd) {
    background-color: #FAF3E9;
}
#graphs h2 {
    color: #0088FF;
    text-transform: uppercase;
    font-size: 18px;
    margin: 5px 0;
    font-weight: normal;
    cursor: pointer;
}
#graphs h3 {
    font-weight: normal;
    margin: 0;
    font-size: 12px;
    line-height: 16px;
    cursor: pointer;
}
#graphs h3.active {
    font-weight: bold;
}
#graphs svg {
    display: block;
    margin: 15px auto;
}
#graphs .graph g:first-child text,
#graphs .graph g:last-child text {
    display: block !important;
}
#graphs text {
    font-size: 12px;
    display: none;
}
#graphs g:hover text {
    display: block;
}
#graphs rect {
    cursor: pointer;
}