body {
    font-family: Gotham,  Helvetica;
}
#map {
    width: 500px;
    float: left;
    position: fixed;
}
#map h1 {
    text-align: center;
    font-size: 20px;
}
#map #map-annotation {
	font-size: 10px;
    position: absolute;
    top: 300px;
    left: 20px;
}
#map svg {
    margin-left: 0px;
    position: absolute;
    top: 50px;
}
#map path {
    cursor: pointer;
}
#map path:hover {
    fill: #ddd;
}

#pop-stats {
    position: absolute;
    top: 50px;
    left: 300px;
}
#pop-stats h3 {
    font-weight: normal;
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 10px;
    margin: 15px 0 0;
}
#pop-stats p {
    margin: 3px 0;
    font-size: 12px;
}
#pop-stats p span {
    font-weight: bold;
    font-size: 16px;
    line-height: 16px;
}

#color-key {
    position: absolute;
    top: 370px;
    left: 20px;
    width: 30%;
}
#color-key .title {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 24px;
    letter-spacing: 1px;
}
#color-key .color-bar {
    height: 15px;
    width: 100%;
    position: absolute;
    top: 15px;
    background: #23a7f9; /* Old browsers */
    background: -moz-linear-gradient(left,  #55A4DB 0%, #c7cccf 50%, #c7cccf 51%, #F07221 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#23a7f9), color-stop(50%,#c7cccf), color-stop(51%,#c7cccf), color-stop(100%,#ff6733)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(left,  #55A4DB 0%,#c7cccf 50%,#c7cccf 51%,#F07221 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(left,  #55A4DB 0%,#c7cccf 50%,#c7cccf 51%,#F07221 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(left,  #55A4DB 0%,#c7cccf 50%,#c7cccf 51%,#F07221 100%); /* IE10+ */
    background: linear-gradient(to right,  #55A4DB 0%,#c7cccf 50%,#c7cccf 51%,#F07221 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#55A4DB', endColorstr='#F07221',GradientType=1 ); /* IE6-9 */
}
#color-key .avg-bar {
    width: 2px;
    height: 18px;
    position: absolute;
    left: 50%;
    top: 15px;
    background-color: #00C04A;
}
#color-key .labels {
    position: absolute;
    top: 35px;
    width: 100%;
    font-style: italic;
    font-size: 10px;
}
#color-key .low {
    position: absolute;
}
#color-key .high {
    position: absolute;
    right: 0;
    top: 0;
}
#color-key .avg {
    text-align: center;
    color: #00C04A;
}

#graphs {
    width: 60%;
    background-color: #FFF;
    border-left: 0px solid black;
    padding-left: 0px;
    margin-top: 36px;
    margin-bottom: 48px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.section {
    clear: both;
}
.graph-wrapper {
    padding-bottom: 24px;
}

.section h1 {
    border-bottom: 1px solid black;
    font-style: normal;
    font-weight:400;
    text-transform:uppercase;
    font-size: 18px;
    cursor: pointer;
}
    
#tooltip {
    position: absolute;
    top: 450px;
    left: 20px;
    font-size: 14px;
    border-top: 1px solid #ccc;
    width: 100%;
    padding-top: 20px;
    color: #333;
}
#tooltip .title {
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 15px;
    letter-spacing: 1px;
}
#tooltip .attr,
#tooltip .prompt {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
#tooltip .desc {
    margin-top: 15px;
    font-size: 12px;
}
#tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#tooltip li {
    margin-bottom: 3px;
}
#tooltip li span {
    font-weight: bold;
}
#tooltip .avg {
    display: none;
    color: #00C04A;
}

#tooltip .place {
	font-weight: normal;
}

.graph-barchart {
    width: 100%;
    clear: both;
    overflow: hidden;
}
.graph-barchart h2 {
    text-align: left;
    margin-bottom: 20px;
}
.barchart {
    float: left;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}
.barchart .graph-object {
    width: 90%;
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.barchart .axis {
    position: absolute;
    background-color: #ccc;
    z-index: 1;
}
.barchart .avg-line {
    background-color: #53D484;
    position: absolute;
    width: 100%;
    height: 2px;
}
.barchart .avg-annotation {
    position: absolute;
    left: 100%;
    width: 100px;
    font-size: 12px;
    color: #53D484;
    padding-left: 5px;
}
.barchart .bar {
    position: absolute;
}
.barchart .title {
    box-sizing: border-box;
    font-size: 10px;
    width: 90%;
    text-align: center;
}
.barchart .label {
    position: absolute;
    width: 120px;
    font-size: 10px;
}

.graph-bubble {
    clear: both;
}
.bubble {
    float: left;
    margin-bottom: 50px;
}
.bubble .desc {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: left;
}
.bubble-wrapper {
    margin: 0 auto;
}
.bubble .bub {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
    line-height: 75px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin: 0 10px 10px 0;
    float: left;
    cursor: pointer;
}
.bubble.small .bub {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 15px;
}
.bubble .bub:last-child {
    margin-right: 0;
}
.bubble .desc {
    clear: both;
}

.graph-pie {
    width: 50%;
    float: left;
    padding-top: 10px;
}
.pie {
    width: 50%;
    height: 150px;
    float: left;
    position: relative;
}
.pie svg {
    float: none;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    cursor: pointer;
}
.pie path {
    stroke: none;
}
.pie .pie-title {
    font-size: 10px;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
}
.pie .pie-avg {
    position: absolute;
    top: 0;
    right: 10px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: right;
    color: #53D484;
}
.boxes-key{
    width: 400px;
    font-size: 10px;
    line-height: 14px;
}

.graph-isotype {
    padding-top: 30px;
}

.isotype {
    width: 100%;
    height: 80px;
    clear: both;
    cursor: pointer;
    padding-bottom: 12px;
}
.isotype .title {
    float: left;
    text-align: left;
    width: 20%;
    font-size: 12px;
    padding-top: 6px;
}
.isotype .iso-graph {
    float: left;
    width: 70%;
    height: 100%;
}
.isotype .iso-graph .title {
    padding-right: 1%;
    text-align: right;
    font-size: 10px;
    padding-top: 12px;
}
.isotype .iso-line {
    float: left;
    height: 50%;
    width: 100%;
    margin-top: -6px;
}
.isotype .iso-line .img {
    height: 24px;
    float: left;
}
.isotype .bg-1 {
    background-image: url(img/isotype_man_1.png);
}
.isotype .bg-2{
    background-image: url(img/isotype_man_2.png);
}
.isotype .bg-3 {
    background-image: url(img/isotype_man_3.png);
}
.isotype .bg-4 {
    background-image: url(img/isotype_man_4.png);
}
.isotype .bg-5 {
    background-image: url(img/isotype_man_5.png);
}
.isotype .iso-line.average .img {
    background-image: url(img/isotype-man-avg.png);
}
.isotype .textVal {
    font-weight: bold;
    padding-left: 5px;
    float: left;
    font-size: 18px;
    line-height: 24px;
}
.isotype .average .textVal {
    color: #00B85B;
}

.graph-multistem {
    width: 100%;
    clear: both;
}
.multi-graph, .areas {
    float: left;
    position: relative;
}
.multi-graph {
    cursor: pointer;
}
.graph-multistem .avg-label {
    color: #00C04A;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 10px;
    margin: -16px 0 2px;
}
.graph-multistem .stem {
    width: 2px;
    height: 100%;
    background-color: #00C04A;
    position: absolute;
    z-index: 1;
}
.graph-multistem .title {
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.graph-multistem .area {
    background-color: #f7f7f7;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
/*.graph-multistem .area:nth-child(odd) {
    background-color: #e7e7e7;
}*/
.multi-graph .leafs {
    position: relative;
}
.multi-graph .leaf {
    position: absolute;
    height: 15px;
}

.graph-stemandleaf {
    width: 100%;
    clear: both;
    padding-bottom: 60px;
    padding-top: 10px;
}
.graph-stemandleaf h2 {
    text-align: left
    ;
}
.stem-and-leaf {
    width: 100%;
    position: relative;
}
.stem-and-leaf .leaf {
    height: 30px;
    cursor: pointer;
}
.stem-and-leaf rect {
    cursor: pointer;
}
.stem-and-leaf .title {
    width: 70%;
    text-align: left;
    font-size: 10px;
    line-height: 30px;
    margin-left: 120px;
}
.stem-and-leaf .title span {
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    width: 30px;
    text-align: right;
    display: inline-block;
}
.stem-and-leaf .wrapper {
    position: absolute;
    left:0%;
}
.stem-and-leaf .avg-title {
    position: absolute;
    left: 40px;
    font-size: 10px;
    font-weight: bold;
    color: #00C04A;
}
.waffle {
    position: relative;
}
.waffle .box-wrapper {
    position: relative;
}
.waffle .box {
    position: absolute;
    cursor: pointer;
}
.waffle ul{
    margin: 0 20px;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    width: 280px;
}
.waffle li {
    clear: both;
    margin-bottom: 10px;
    cursor: pointer;
}
.waffle li .title {
    width: 260px;
    float: right;
    margin-bottom: 7px
}
.waffle li .num {
    font-weight: bold;
}
.waffle .key-color {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
}
.graph-thermometer {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 60px;
    padding-top: 10px;
}
.graph-thermometer .big-number {
	padding-top: 6px;
    position: absolute;
    left: 0px;
    top: 100%;
    font-size: 24px;
}
.big-number {
    font-weight: bold;
}

.thermometer {
    position: relative;
    width: 100px;
    margin-left: 50px;
    cursor: pointer;
}
.thermometer.words {
    margin-left: 32px;
}
.therm-wrapper {
    position: relative;
    margin: 0 auto;
}
.therm-background {
    position: absolute;
    left: 0;
}
.therm-background:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.therm-background:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.thermometer .value-wrapper {
    position: absolute;
    top: 0;
    width: 100px;
}
.thermometer .value-wrapper .scale {
    position: absolute;
    left: 0px;
    bottom: 2px;
    font-size: 10px;
    width: 50px;
}
.thermometer .value-wrapper .min {
    left: -57px;
    text-align: right;
}

.thermometer .value-wrapper .max {
    left: 208px;
    text-align: left;
}

.graph-thermometer h2 {
    text-align: left;
    margin-bottom: 20px;
}
.thermometer .circle {
    background-color: black;
    border-radius: 10px;
    margin: 0 auto;
}
.thermometer .circle-wrapper {
    margin: 0px auto 0;
}
.thermometer .circle-label {
    padding-top: 8px;
    margin-bottom: 0;
}
.thermometer .desc {
    text-align: center;
    margin-top: 5px;
}
.desc{
font-size: 10px;
}
h2{
font-size: 12px;
text-align: left;
}