body {
    font-family: Gotham,  Helvetica;
}
#map {
    width: 35%;
    float: left;
    position: fixed;
}
#map h1 {
    text-align: center;
    font-size: 20px;
}
#map svg {
    margin: 0 auto 50px;
    display: block;
}
#map path {
    cursor: pointer;
}
#map path:hover {
    fill: #ddd;
}
#map #pop-stats {
    float: right;
    width: 250px;
}
#map #pop-stats h3 {
    color: #8A8A8A;
    font-weight: normal;
    margin: 10px 0 0;
}
#map #pop-stats p {
    margin: 0;
}
#map .bold {
    font-weight: bold;
}
#map .pie-charts {
    width: 100%;
    clear: both;
    height: 120px;
}
#graphs {
    width: 60%;
    border-left: 0px solid black;
    padding-left: 25px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}
.section {
    clear: both;
}
.graph-wrapper {
    padding-bottom: 24px;
}

.section h1 {
    border-bottom: 1px solid black;
    font-style: normal;
    font-weight:400;
    text-transform:uppercase;
    font-size: 18px;
    cursor: pointer;
}
    
#tooltip {
    position: absolute;
    top: 425px;
    left: 0;
    font-size: 14px;
    color: #0084DB;
    display: none;
}
#tooltip .title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 15px;
}
#tooltip .attr {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
#tooltip .desc {
    margin-top: 15px;
    font-size: 12px;
}
#tooltip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
#tooltip li span {
    font-weight: bold;
}

.graph-barchart {
    width: 100%;
    clear: both;
    overflow: hidden;
}
.graph-barchart h2 {
    text-align: left;
    margin-bottom: 20px;
}
.barchart {
    float: left;
    margin-bottom: 50px;
    position: relative;
    cursor: pointer;
}
.barchart .graph-object {
    width: 90%;
    margin-bottom: 10px;
    display: block;
    position: relative;
}
.barchart .axis {
    position: absolute;
    background-color: #ccc;
    z-index: 1;
}
.barchart .avg-line {
    background-color: #53D484;
    position: absolute;
    width: 100%;
    height: 2px;
}
.barchart .avg-annotation {
    position: absolute;
    left: 100%;
    width: 100px;
    font-size: 12px;
    color: #53D484;
    padding-left: 5px;
}
.barchart .bar {
    position: absolute;
}
.barchart .title {
    box-sizing: border-box;
    font-size: 10px;
    width: 90%;
    text-align: center;
}
.barchart .label {
    position: absolute;
    width: 120px;
    font-size: 10px;
}

.graph-bubble {
    clear: both;
}
.bubble {
    width: 33%;
    float: left;
    margin-bottom: 50px;
}
.bubble .desc {
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}
.bubble-wrapper {
    margin: 0 auto;
}
.bubble .bub {
    width: 75px;
    height: 75px;
    border-radius: 50px;
    text-align: center;
    line-height: 75px;
    color: white;
    font-size: 25px;
    margin: 0 10px 10px 0;
    float: left;
    cursor: pointer;
}
.bubble .bub:last-child {
    margin-right: 0;
}
.bubble .desc {
    clear: both;
}

.graph-pie {
    width: 50%;
    float: left;
    padding-top: 10px;
}
.pie {
    width: 50%;
    height: 150px;
    float: left;
    position: relative;
}
.pie svg {
    float: none;
    margin: 0 auto;
    display: block;
    padding-top: 10px;
    cursor: pointer;
}
.pie path {
    stroke: none;
}
.pie .pie-title {
    font-size: 10px;
    position: absolute;
    top: 100px;
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
    text-align: center;
}
.pie .pie-avg {
    position: absolute;
    top: 0;
    right: 10px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: right;
    color: #53D484;
}
.boxes-key{
    width: 400px;
    font-size: 10px;
    line-height: 14px;
}

.graph-isotype {
    padding-top: 30px;
}

.isotype {
    width: 100%;
    height: 80px;
    clear: both;
    cursor: pointer;
}
.isotype .title {
    float: left;
    text-align: left;
    width: 20%;
    font-size: 14px;
    padding-top: 10px;
}
.isotype .iso-graph {
    float: left;
    width: 70%;
    height: 100%;
}
.isotype .iso-graph .title {
    padding-right: 1%;
    text-align: right;
    font-size: 10px;
    padding-top: 6px;
}
.isotype .iso-line {
    float: left;
    height: 50%;
    width: 100%;
}
.isotype .iso-line .img {
    height: 24px;
    float: left;
}
.isotype .bg-1 {
    background-image: url(img/isotype_man_1.png);
}
.isotype .bg-2{
    background-image: url(img/isotype_man_2.png);
}
.isotype .bg-3 {
    background-image: url(img/isotype_man_3.png);
}
.isotype .bg-4 {
    background-image: url(img/isotype_man_4.png);
}
.isotype .bg-5 {
    background-image: url(img/isotype_man_5.png);
}
.isotype .iso-line.average .img {
    background-image: url(img/isotype-man-avg.png);
}
.isotype .textVal {
    font-weight: bold;
    padding-left: 5px;
    float: left;
    font-size: 18px;
    line-height: 24px;
}
.isotype .average .textVal {
    color: #00B85B;
}

.graph-multistem {
    width: 100%;
    clear: both;
}
.multi-graph, .areas {
    float: left;
    position: relative;
}
.multi-graph {
    cursor: pointer;
}
.graph-multistem .stem {
    width: 2px;
    height: 100%;
    background-color: black;
    position: absolute;
    z-index: 1;
}
.graph-multistem .title {
    text-align: center;
    font-size: 12px;
    padding: 0 20px;
    margin: 10px 0 20px;
}
.graph-multistem .area {
    background-color: #fbfbf8;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
}
.graph-multistem .area:nth-child(odd) {
    background-color: #eee;
}
.multi-graph .leafs {
    position: relative;
}
.multi-graph .leaf {
    position: absolute;
    height: 15px;
}

.graph-stemandleaf {
    width: 100%;
    clear: both;
    padding-bottom: 60px;
    padding-top: 10px;
}
.graph-stemandleaf h2 {
    text-align: left
    ;
}
.stem-and-leaf {
    width: 100%;
    position: relative;
}
.stem-and-leaf .leaf {
    height: 30px;
    cursor: pointer;
}
.stem-and-leaf rect {
    cursor: pointer;
}
.stem-and-leaf .title {
    width: 70%;
    text-align: left;
    font-size: 10px;
    line-height: 30px;
    margin-left: 120px;
}
.stem-and-leaf .title span {
    font-weight: bold;
    margin-right: 5px;
    font-size: 12px;
    width: 30px;
    text-align: right;
    display: inline-block;
}
.stem-and-leaf .wrapper {
    position: absolute;
    left:0%;
}
.stem-and-leaf .avg-title {
    position: absolute;
    left: 40px;
    font-size: 12px;
}
.waffle {
    position: relative;
}
.waffle .box-wrapper {
    position: relative;
}
.waffle .box {
    position: absolute;
}
.waffle ul{
    margin: 0 20px;
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 0;
    width: 280px;
}
.waffle li {
    clear: both;
    margin-bottom: 10px;
}
.waffle li span {
    width: 260px;
    float: right;
}
.waffle .key-color {
    height: 12px;
    width: 12px;
    float: left;
    margin-right: 5px;
}
.graph-thermometer {
    width: 50%;
    float: left;
    position: relative;
    padding-bottom: 60px;
    padding-top: 10px;
}
.graph-thermometer .big-number {
	padding-top: 6px;
    position: absolute;
    left: 0px;
    top: 100%;
    font-size: 24px;
    color: #666666;
}
.big-number {
    font-weight: bold;
}

.thermometer {
    position: relative;
    width: 100px;
    margin-left: 50px;
    cursor: pointer;
}
.therm-wrapper {
    position: relative;
    margin: 0 auto;
}
.therm-background {
    position: absolute;
    left: 0;
}
.therm-background:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.therm-background:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.thermometer .value-wrapper {
    position: absolute;
    top: 0;
    width: 100px;
}
.thermometer .value-wrapper .scale {
    position: absolute;
    left: 0px;
    bottom: 2px;
    font-size: 10px;
    width: 50px;
}
.thermometer.number .value-wrapper .min {
    left: -57px;
    text-align: right;
}

.thermometer.number .value-wrapper .max {
    left: 208px;
    text-align: left;
}

.thermometer.no-number .value-wrapper .scale,
.thermometer.no-number .circle-label {
    -webkit-transform: rotate(-45deg);
    bottom: 33px;
    margin: 0;
    font-size: 10px
}
.thermometer.no-number .value-wrapper .min {
    left: -7px;
}
.thermometer.no-number .value-wrapper .max {
    left: 191px;
}
.thermometer.no-number .circle-label {
    margin: -33px 200px 0 5px;
}

.graph-thermometer h2 {
    text-align: left;
    margin-bottom: 20px;
}
.thermometer .circle {
    background-color: black;
    border-radius: 10px;
    margin: 0 auto;
}
.thermometer .circle-wrapper {
    margin: 0px auto 0;
}
.thermometer .circle-label {
    padding-top: 8px;
    margin-bottom: 0;
}
.thermometer .desc {
    text-align: center;
    margin-top: 5px;
}
.desc{
font-size: 10px;
}
h2{
font-size: 12px;
text-align: left;
}